<% photo = entity.default_image %>
<div class="product col-xs-12 col-md-6 col-lg-3 ">
  <div class="top">
    <div class="product-image">
      <div class="image">
        <% if photo.present? %>
          <a href="<%= product_path(entity)%>"><img src="<%= photo %>" alt="<%= entity.name %>"></a>
        <% else %>
          <a href="<%= product_path(entity)%>"><img src="http://placehold.it/240x240" alt="<%= entity.name %>"></a>
        <% end %>
      </div> 
    </div> 
    <div class="product-info text-left">
      <h3 class="name"><a href="<%= product_path(entity)%>"><%= entity.name %></a></h3>
      <!-- <%= entity.condition %> -->
      <div class="product-price"> 
        <span class="price"><%= number_to_currency(entity.price, locale: :en) %></span>
      </div>
    </div>
  </div>
</div>