<div class="breadcrumb breadcrumb-unstyled">
  <div class="container-fluid">
    <div class="breadcrumb-inner">
      <ul class="list-inline list-unstyled nopadding">
        <li><a href="/"><%= t"Home" %></a></li>
        <li class=''><a href="<%= order_path(current_order) %>"><%= t"Shopping Cart" %></a></li>
        <li class="active"><%= t"Checkout" %></li>
      </ul>
    </div>
  </div>
</div>

<div class="body-content">
  <div class="container-fluid">
    <%= form_for @order, url: result_order_path(@order, checkout: true), html: {class: "form-horizontal register-form product-form checkout-form jvalidate", method: "POST", :novalidate => true, :id => "js-braintree"} do |f| %>
      <div id="payment-form"></div>
      <div class="row">
        <div class="col-xs-12 columns">
          <h2><%= t"Checkout" %></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-9 columns">
          <div class="checkout-box">
            <div class="panel-group checkout-steps" id="accordion">
              <!-- checkout-step-01  -->
              <div class="panel panel-default checkout-step-01">
                <!-- panel-heading -->
                <div class="panel-heading">
                  <h4 class="unicase-checkout-title">
                    <a data-toggle="collapse" class="" data-parent="#accordion" href="#collapseOne">
                      <span>1</span><%= t"Address" %>
                    </a>
                   </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                  <div class="panel-body custom-padding">
                    <div class="row">
                      <h4 class="unicase-checkout-title"><%= t"Billing Information" %></h4>
                    </div>
                    <div class="row m-t-20">
                      <%= f.fields_for :billing_address do |b_form| %>
                        <%= render :partial => "form", locals: {form: b_form} %>
                      <% end %>
                    </div>
                    <div class="row m-t-20">
                      <h4 class="unicase-checkout-title"><%= t"Shipping Information" %></h4>
                      <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2 columns">
                          <input type="checkbox" name="billing_shipping_same" data-toggle-disable="#shipping_address_form" value="true" id="bill-to-ship"> <%= t("sentence.shipping_to_different_address") %>
                        </div>
                      </div>
                    </div>                    
                    <div class="row" id="shipping_address_form">
                      <%= f.fields_for :shipping_address do |sh_form| %>
                        <%= render :partial => "form", locals: {form: sh_form, view_mode: "shipping"} %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default checkout-step-02">
                <!-- panel-heading -->
                <div class="panel-heading">
                  <h4 class="unicase-checkout-title">
                    <a data-toggle="collapse" class="" data-parent="#accordion" href="#collapseTwo">
                      <span>2</span><%= t"Payment Information" %>
                    </a>
                   </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in">
                  <div class="panel-body custom-padding">
                    <div class="row m-t-20">
                      <div class="col-sm-3">
                        <%= label_tag t("Accepted Credit Cards"), nil, class: "accepted-cc"%>
                      </div>
                      <div class="col-sm-9">
                        <%= image_tag "cc.png", height: "31px", alt: "Accepted Credit Card Types" %>
                      </div>
                    </div>
                    <%= f.fields_for :credit_cards do |cc_form| %>
                      <div class="form-group m-t-20">
                        <%= cc_form.label :number, class: "col-sm-3 control-label info-title" do %>
                          <%= t"Credit Card Number" %>
                        <% end %>
                        <div class="col-sm-9">
                          <%= cc_form.text_field :number, class: "form-control unicase-form-control text-input", "data-braintree-name" => "number", "data-validation" => "required" %>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row nopadding">
                          <div class="col-sm-9">
                            <%= cc_form.label :expiration_date, class: "col-sm-4 control-label info-title" %>
                            <div class="col-sm-6">
                              <div class="col-sm-5 p-l-5">
                                <%= select_month "order[credit_cards][month]", nil, {class: "form-control unicase-form-control text-input input-styling height-40 col-sm-11", prompt: t("Month"), "data-braintree-name" => "expiration_month", "data-validation" => "required"} %>
                              </div>
                              <div class="col-sm-1 b-slash"> /</div>
                              <div class="col-sm-5">
                                <%= select_year "order[credit_cards][year]", nil, {class: "form-control unicase-form-control text-input input-styling height-40", prompt: t("Year"), "data-braintree-name" => "expiration_year", "data-validation" => "required"} %>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-3 m-l-m-145">
                            <%= cc_form.label :cvv, class: "col-sm-3 control-label info-title" do %>
                              <%= t"CVV" %>
                            <% end %>
                            <div class="col-sm-9">
                              <%= cc_form.number_field :cvv, class: "form-control unicase-form-control text-input", "data-braintree-name" => "cvv", "data-validation" => "required" %>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="panel panel-default checkout-step-03">
                <!-- panel-heading -->
                <div class="panel-heading">
                  <h4 class="unicase-checkout-title">
                    <a data-toggle="collapse" class="" data-parent="#accordion" href="#collapseThree">
                      <span>3</span><%= t"Review" %>
                    </a>
                   </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse in">
                  <div class="panel-body custom-padding">
                    <table class="table table-bordered table-hover table-striped">
                      <%= render :partial => "order_items/entity", collection: @order.order_items,locals: {view_mode: "checkout-review"} %>
                    </table>
                    <div class="row" id="ck-review-summary">
                      <div class="row">
                        <div class="col-sm-6 col-sm-offset-6">
                          <div class="col-sm-4 nopadding"><%= t("Subtotal") %></div>
                          <div class="col-sm-8 text-left nopadding"><%= number_to_currency @order.subtotal %></div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6 col-sm-offset-6">
                          <div class="col-sm-4 nopadding"><%= t("Shipping Cost") %></div>
                          <div class="col-sm-8 text-left nopadding"><%= number_to_currency @order.shipping_price %></div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6 col-sm-offset-6">
                          <div class="col-sm-4 nopadding"><%= t("Total") %></div>
                          <div class="col-sm-8 text-left nopadding"><%= number_to_currency @order.total %></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%= render :partial => "order_summary", locals: {entity: @order, view_mode: :checkout} %>
      </div>
      <div class="row inner-bottom-xs">
        <div class="col-sm-9 text-right">
          <button type="submit" class="btn btn-lime btn-checkout-bottom"><%= t("PROCCED TO CHEKOUT") %></button>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
<script>
  var clientToken = "<%= @client_token %>";

  braintree.setup(clientToken, "custom", {
    id: "js-braintree",
    onPaymentMethodReceived: function (obj) {
      payment_method_nonce = obj.nonce;
      $myForm = $("#js-braintree");
      $myForm.preventDefault;
      $myForm.append('<input type="hidden" name="payment_method_nonce" value="' + payment_method_nonce + '" /> ');
      if($myForm.isValid()){
        $myForm.submit();
      }      
    }
  });
</script>