<div class="breadcrumb breadcrumb-unstyled">
  <div class="container">
    <div class="breadcrumb-inner">
      <ul class="list-inline list-unstyled nopadding">
        <li><a href="/"><%= t"Home" %></a></li>
        <li class='active'><%= t"Login" %></li>
      </ul>
    </div>
  </div>
</div>

<div class="body-content outer-top-bd">
  <div class="container">
    <div class="sign-in-page inner-bottom-sm">
      <div class="row">
        <!-- Sign-in -->      
        <div class="col-md-6 col-sm-6 sign-in">
          <h4 class=""><%= t"Login" %></h4>
          <p class=""><%= t"Hello, Welcome to your account" %>!</p>
          <div class="social-sign-in outer-top-xs">
            <%- resource_class.omniauth_providers.each do |provider| %>
              <% if provider.to_s.titleize == "Facebook" %>
                <a href="<%= omniauth_authorize_path(resource_name, provider) %>" class="facebook-sign-in"><i class="fa fa-facebook"></i> <%= t"Sign In with Facebook" %></a>
              <% elsif provider.to_s.titleize == "Google" %>
                <a href="<%= omniauth_authorize_path(resource_name, provider) %>" class="google-sign-in"><i class="fa fa-google-plus"></i> <%= t"Sign In with Google" %></a>
              <% end %>
            <% end -%>     
          </div>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "register-form outer-top-xs"}) do |f| %>
            <div class="form-group">
              <%= f.label class: "info-title" do %>
                <%= t"Email Address" %> <span>*</span>
              <% end %>
              <br/>
              <%= f.email_field :email, autofocus: true, required: true, class: "form-control unicase-form-control text-input" %>   
            </div>
            <div class="form-group">
              <%= f.label class: "info-title" do %>
                <%= t"Password" %> <span>*</span>
              <% end %><br/>
              <%= f.password_field :password, autocomplete: "off", required: true, class: "form-control unicase-form-control text-input" %>
            </div>
            <div class="radio outer-xs">
              <label class="nopadding">
                <input type="checkbox" name="user[remember_me]" value="true"> <%= t"Remember me" %> !
              </label>
              <a href="<%= new_password_path(resource_name) %>" class="forgot-password pull-right"><%= t"Forgot your Password" %>?</a>
            </div>
            <button type="submit" class="btn-upper btn btn-primary checkout-page-button"><%= t"Login" %></button>
          <% end %>         
        </div>
        <!-- Sign-in -->

        <!-- create a new account -->
        <div class="col-md-6 col-sm-6 create-new-account">
          <h4 class="checkout-subtitle"><%= t"create a new account" %></h4>
          <p class="text title-tag-line"><%= t"New Customer? Create an account here" %>.</p>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "register-form outer-top-xs"}) do |f| %>
            <%= devise_error_messages! %>
            <div class="form-group">
              <%= f.label class: "info-title" do %>
                <%= t"Email Address" %> <span>*</span>
              <% end %><br/>
              <%= f.email_field :email, autofocus: true, required: true, class: "form-control unicase-form-control text-input" %>   
            </div>
            <% if f.object.password_required? %>
              <div class="form-group">
                <%= f.label class: "info-title" do %>
                  <%= t"Password" %> <span>*</span>
                <% end %><br/>
                <% if @minimum_password_length %>
                  <em>
                    (<%= @minimum_password_length %> characters minimum)
                  </em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "off", required: true, class: "form-control unicase-form-control text-input" %>
              </div>
              <div class="form-group">
                <%= f.label class: "info-title" do %>
                  <%= t"Password Confirmation" %> <span>*</span>
                <% end %><br/>
                <%= f.password_field :password_confirmation, required: true, autocomplete: "off", class: "form-control unicase-form-control text-input" %>
              </div>
            <% end %>
            <button type="submit" class="btn-upper btn btn-primary checkout-page-button"><%= t"Sign Up" %></button>
          <% end %>


          <!-- <span class="checkout-subtitle outer-top-xs">Sign Up Today And You'll Be Able To :  </span>
          <div class="checkbox">
            <label class="checkbox">
              <input type="checkbox" id="speed" value="option1"> Speed your way through the checkout.
            </label>
            <label class="checkbox">
              <input type="checkbox" id="track" value="option2"> Track your orders easily.
            </label>
            <label class="checkbox">
              <input type="checkbox" id="keep" value="option3"> Keep a record of all your purchases.
            </label>
          </div> -->
        </div>  
      </div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
