<% lazy_load = local_assigns.fetch(:lazy_load, true) %>
<div class="body-content neg-m-t-20" id="main-pd-index">
  <div class="container-fluid">
    <div class="col-md-2 sidebar nopadding">
      <h3 class="section-title"><%= t"Filter By" %></h3>
      <% categories = current_category_facet(@response) %>
      <% if categories.present? %>
        <div class="sidebar-module-container">
          <div class="sidebar-widget outer-bottom-xs wow fadeInUp">
            <div class="widget-header">
              <div class="widget-title"><%= t"Categories" %></div>
            </div>
            <div class="sidebar-widget-body m-t-20 thin-scrollbar">
              <ul>
                <% Category.where(:id => categories.map{|x| x[0]}).children_category.uniq.each do |cat| %>
                  <% url_on_checked = merge_params_if_existed(params, "category", cat.id) %>
                  <% url_on_unchecked = remove_params(params, "category", cat.id) %>
                  <% _facets = categories.select{|x| x[0] == cat.id}.first[1] || 0 rescue 0 %>
                  <li>
                    <label class="text-indent">
                      <input data-checked-url="<%= url_on_checked %>" data-unchecked-url="<%= url_on_unchecked %>" type="checkbox" id="<%= cat.id %>" name="category" value="<%= cat.id %>" class="filter-params css-checkbox" <%= 'checked' if params[:category].split(",").include?(cat.id.to_s) rescue false %>/>&nbsp;&nbsp;
                      <%= t(cat.name) %>  (<%= _facets %>)
                    </label>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>

      <% if @response.facet(:condition).present? || params[:condition].present? %>
        <!-- Filter by condition -->
        <div class="sidebar-module-container">
          <div class="sidebar-widget outer-bottom-xs wow fadeInUp">
            <div class="widget-header">
              <h4 class="widget-title"><%= t"Condition" %></h4>
            </div>
            <div class="sidebar-widget-body m-t-20">
              <ul>
                <% conditions = current_condition_facet(@response) %>
                <% Product.conditions.each do |condition, _in| %>
                  <% url_on_checked = merge_params_if_existed(params, "condition", condition) %>
                  <% url_on_unchecked = remove_params(params, "condition", condition) %>
                  <% _facets = conditions.select{|x| x[0] == condition}.first[1] || 0 rescue 0 %>
                  <li class=" <%= 'hide' if _facets == 0 && not_a_filter_query("condition", condition)%>">
                    <label class="text-indent">
                      <input data-checked-url="<%= url_on_checked %>" data-unchecked-url="<%= url_on_unchecked %>" type="checkbox" id="<%= condition %>" name="condition" value="<%= condition %>" class="filter-params css-checkbox" <%= 'checked' if params[:condition].split(",").include?(condition) rescue false %>/>&nbsp;&nbsp;
                      <%= t(condition.humanize) %>  (<%= _facets %>)
                    </label>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
      <!-- Filter by price range -->
      <div class="sidebar-module-container">
        <div class="sidebar-widget outer-bottom-xs wow fadeInUp">
          <div class="widget-header">
            <h4 class="widget-title"><%= t"Price Range" %></h4>
          </div>
          <div class="sidebar-widget-body m-t-20">
            <div class="price-range-holder">
              <span class="min-max">
                <span class="min pull-left"><%= number_to_currency(current_min_price, locale: :en) %></span>
                <span class="max pull-right"><%= number_to_currency(current_max_price, locale: :en) %></span>
              </span>
              <input type="hidden" class="amount">
              <input type="text" class="price-slider" data-min="<%= @min_price %>" data-max="<%= @max_price %>" data-value="">
            </div>
            <div class="text-right">
              <a href="javascript:;" data-url="<%= url_for(params) %>" class="lnk btn btn-lime btn-price-filter"><%= t"Show Now" %></a>
            </div>
          </div>
        </div>
      </div>
      <!-- Filter by seller rating -->
      <div class="sidebar-module-container">
        <div class="sidebar-widget outer-bottom-xs wow fadeInUp">
          <div class="widget-header">
            <h4 class="widget-title"><%= t"Seller Ratings" %></h4>
          </div>
          <div class="sidebar-widget-body m-t-20">
            <ul>
              <% [4..5, 3...4, 2...3, 1...2].each do |range| %>
                <li>
                  <% url_on_checked = merge_params_if_existed(params, "rating", range) %>
                  <% url_on_unchecked = remove_params(params, "rating", range) %>
                  <label class="filter-link">
                    <div class="filter-params rateit <%= 'selected' if params_rating_existed?(range) %>" data-rateit-value="<%= (range).first %>" data-rateit-range="<%= range %>" data-rateit-ispreset="true" data-rateit-readonly="true" data-checked-url="<%= url_on_checked %>" data-unchecked-url="<%= url_on_unchecked %>"><span class="ratenup"><%= t"& Up" %></span></div>
                  </label>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <!-- Filter by Location -->
      <div class="sidebar-module-container">
        <div class="sidebar-widget outer-bottom-xs wow fadeInUp">
          <div class="widget-header">
            <h4 class="widget-title"><%= t"Item Location" %></h4>
          </div>
          <div class="sidebar-widget-body m-t-20">
            <ul>
              <li>
                <% url_no_location = url_for(params.except(:location)) %>
                <a href="<%= url_no_location %>">
                  <label>
                    <input type="checkbox" id="item_location" name="location" value="" class="checkbox-as-link" <%= 'checked' unless params[:location].present? %>/>&nbsp;&nbsp;
                    <%= t"United States" %>
                  </label>
                </a>
              </li>
              <li class="dist-or"><span><%= t"OR" %></span></li>
              <li>
                <%= form_tag products_path, class: "form-inline form-filter-params jvalidate", method: "GET" do |form| %>
                  <div class="row row-dist">
                    <div class="form-group nopadding">
                      <input type="text" class="form-control input-mini" name="radius" value="<%= params[:radius] || 100 %>" data-validation="required">
                    </div>
                    <div class="form-group nopadding">
                      <span class="dist-from"><%= t"miles from" %></span>
                      <input type="text" class="form-control input-mini" name="zip_code" value="<%= params[:zip_code] %>" placeholder="94512" data-validation="required">
                      <input type="hidden" name="refresh" value="true"/>
                    </div>
                  </div>
                  <div class="row-fluid text-right m-t-20">
                    <button type="submit" class="btn btn-lime"><%= t"Show Now"%></button>
                  </div>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Filter by shipping -->
      <% if @response.facet(:shipping_method).present? %>
        <div class="sidebar-module-container">
          <div class="sidebar-widget outer-bottom-xs wow fadeInUp">
            <div class="widget-header">
              <h4 class="widget-title"><%= t"Shipping Method" %></h4>
            </div>
            <div class="sidebar-widget-body m-t-20">
              <ul>
                <% shipping_methods = current_shipping_method_facet(@response) %>
                <% Product.shipping_methods.each do |method, _in| %>
                  <% url_on_checked = merge_params_if_existed(params, "shipping", method) %>
                  <% url_on_unchecked = remove_params(params, "shipping", method) %>
                  <% _facet = shipping_methods.select{|x| x[0] == method}.first[1] || 0 rescue 0  %>
                  <li class="<%= 'hide' if _facet == 0 && not_a_filter_query("shipping", method) %>">
                    <label class="text-indent">
                      <input data-checked-url="<%= url_on_checked %>" data-unchecked-url="<%= url_on_unchecked %>" type="checkbox" id="<%= method %>" name="shipping" value="New" class="filter-params" <%= 'checked' if params[:shipping].split(",").include?(method) rescue false %>/>&nbsp;&nbsp;
                      <%= t(method.humanize) %>  (<%= _facet %>)
                    </label>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <!-- Middle panel start -->
    <div class="col-md-10 col-sm-12">
      <div class="col-md-10 col-sm-12">
        <div class="col-sm-12 col-md-12 filters-container text-right">
          <div class="col col-sm-6 col-md-10 nopadding">
            <div class="lbl-cnt">
              <span class="lbl"><%= t"Sort by" %>:</span>
              <div class="fld inline">
                <div class="dropdown dropdown-small dropdown-med dropdown-white inline">
                  <button data-toggle="dropdown" type="button" class="btn dropdown-toggle btn-sort-by">
                    <%= current_sort_by_text %> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li class="<%= 'active' if params[:sort_by].blank? %>" role="presentation"><a href="<%= url_for(params.except(:sort_by)) %>"><%= t"Best Match" %></a></li>
                    <li class="<%= 'active' if params[:sort_by] == 'price_asc' %>" role="presentation"><a href="<%= url_for(params.merge(sort_by: 'price_asc')) %>"><%= t"Price: Lowest first" %></a></li>
                    <li class="<%= 'active' if params[:sort_by] == 'price_desc' %>" role="presentation"><a href="<%= url_for(params.merge(sort_by: 'price_desc')) %>"><%= t"Price: Highest first" %></a></li>
                    <li class="<%= 'active' if params[:sort_by] == 'created_at_desc' %>" role="presentation"><a href="<%= url_for(params.merge(sort_by: 'created_at_desc')) %>"><%= t"Newest" %></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col col-sm-6 col-md-2 text-right gridlist">
            <div class="filter-tabs">
              <ul id="filter-tabs" class="nav nav-tabs nav-tab-box nav-tab-fa-icon">
                <li class="<%= 'active' if params[:gl] == 'grid' || params[:gl].blank? %>">
                  <a href="<%= url_for(params.merge({:gl => 'grid'})) %>"><i class="icon fa fa-th-list"></i>Grid</a>
                </li>
                <li class="<%= 'active' if params[:gl] == 'list'%>"><a href="<%= url_for(params.merge({:gl => 'list'})) %>"><i class="icon fa fa-th"></i>List</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 showroom-container">
          <% if any_filter_or_search?(params) %>
            <div class="row-fluid">
              <div class="col-sm-12 col-md-12" id="cFilter">
                <span id="filter-by"><%= t"Filtering by" %>:</span>
                <% if params[:query].present? %>
                  <a href="<%= products_path %>" class="cFilter-tag"><i class="fa fa-times"></i>  <%= params[:query] %></a>
                <% end %>
                <% if params[:category].present? %>
                  <% Category.where(:id => params[:category].split(",")).each do |cat| %>
                    <a href="<%= remove_params(params, "category", cat.id) %>" class="cFilter-tag"><i class="fa fa-times"></i>  <%= t"#{cat.name}" %></a>
                  <% end %>
                <% end %>
                <% if params[:condition].present? %>
                  <% Product.conditions.each do |condition, _in| %>
                    <a href="<%= remove_params(params, "condition", condition) %>" class="cFilter-tag <%= 'hide' unless params[:condition].split(",").include?(condition) %>"><i class="fa fa-times"></i>  <%= t"#{condition}" %></a>
                  <% end %>
                <% end %>
                <% if params[:shipping].present? %>
                  <% Product.shipping_methods.each do |method, _in| %>
                    <a href="<%= remove_params(params, "shipping", method) %>" class="cFilter-tag <%= 'hide' unless params[:shipping].split(",").include?(method) %>"><i class="fa fa-times"></i>  <%= t"#{method}" %></a>
                  <% end %>
                <% end %>
                <% if params[:min_price].present? %>
                  <a href="<%= url_for(params.except(:min_price, :max_price)) %>" class="cFilter-tag"><i class="fa fa-times"></i>  <em><strong><%= t"Price" %>:</strong></em> <%= price_filter_string(params)  %></a>
                <% end %>
                <% if params[:zip_code].present? %>
                  <a href="<%= url_for(params.except(:zip_code, :radius)) %>" class="cFilter-tag"><i class="fa fa-times"></i>  <em><strong><%= t"Item Location" %>:</strong></em> <%= location_filter_string(params)  %></a>
                <% end %>
              </div>
            </div>
          <% end %>
          <% gl = params[:gl] || "grid" %> <!-- grid or list view-->
          <% if @products.present? %>
            <%= render partial: "entity.html", collection: @products, :locals => { view_mode: :showroom, gl: gl, lazy_load: lazy_load } %>
          <% else %>
            <%= t"There is no product matching your criteria!" %>
          <% end %>
        </div>
      <%= render "shared/pagination/index", format: [:html], entities: @products %>
      </div>
      <div class="col-md-2 ads-right m-t-15">
        <img src="http://www.detourdesign.com/misc/120x600banner1.jpg"/>
      </div>
    </div>
  </div>
</div>