<div class="breadcrumb breadcrumb-unstyled">
  <div class="container">
    <div class="breadcrumb-inner">
      <ul class="list-inline list-unstyled nopadding">
        <li><a href="/"><%= t"Home" %></a></li>
        <li class=''><%= t"Sell An Item" %></li>
        <li class='active'><%= t"Create Product Variants" %></li>
      </ul>
    </div>
  </div>
</div>

<div class="body-content outer-top-bd">
  <div class="container">
    <div class="col-sm-12"><h2><%= t"Create Product Variants" %></h2>
    </div>
    <div class="col-sm-12">
      <div class="checkout-box inner-bottom-sm">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped table-styled">
              <thead>
                <th>#</th>
                <th><%= t"Photos" %></th>
                <th><%= t"Name" %></th>
                <th><%= t"Price" %></th>
                <th><%= t"Condition" %></th>
                <th><%= t"Quantity" %></th>
                <th><%= t"Actions" %></th>
              </thead>
              <tbody>
                <%= form_for @product, :url => create_variants_product_path(@product), html: {class: "form-vertical register-form outer-top-xs product-form form_ajax", method: "POST", :remote => true} do |f| %>
                  <%= f.fields_for :product_variants do |variants_form| %>
                    <tr>
                      <td><%= variants_form.options[:child_index] + 1 %></td>
                      <td>Photo here</td>
                      <td><%= variants_form.text_field :name, class: "form-control unicase-form-control text-input input-styling"%></td>
                      <td width="15%">
                        <div class="input-group">
                        <div class="input-group-addon">$</div>
                          <%= variants_form.number_field :price, class: "form-control unicase-form-control text-input input-styling"%>
                        </div>
                      </td>
                      <td width="20%">
                        <%= f.select(:condition, options_for_select(Product.condition_select_option.map{|x| [x.first, x.last]}), {},{required: true, class: "form-control unicase-form-control text-input input-styling"}) %>
                      </td>
                      <td>
                        1
                      </td>
                      <td width="5%">
                        <i class="fa fa-trash"></i>
                      </td>
                    </tr>
                  <% end %>

                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
