<div class="breadcrumb breadcrumb-unstyled">
  <div class="container">
    <div class="breadcrumb-inner">
      <ul class="list-inline list-unstyled nopadding">
        <li><a href="/"><%= t"Home" %></a></li>
        <li class=""><%= t"Stores" %></li>
      </ul>
    </div>
  </div>
</div>

<div class="body-content neg-m-t-20">
  <div class="container-fluid">
    <div class="col-md-2 sidebar nopadding">
      <h3 class="section-title"><%= t"Filter By" %></h3>
      <!-- Filter by condition -->
      <div class="sidebar-module-container">
        <div class="sidebar-widget outer-bottom-xs wow fadeInUp">
          <div class="widget-header">
            <h4 class="widget-title"><%= t"Condition" %></h4>
          </div>
          <div class="sidebar-widget-body m-t-20">
            <ul>
              <% Product.condition_array.each do |condition| %>
                <% url_on_checked = url_for(params.merge({:condition => condition})) %>
                <% url_on_unchecked = url_for(params.except(:condition)) %>
                <li>
                  <label>
                    <input data-checked-url="<%= url_on_checked %>" data-unchecked-url="<%= url_on_unchecked %>" type="checkbox" id="<%= condition %>" name="condition" value="New" class="filter-params" <%= 'checked' if params[:condition] == condition %>/>&nbsp;&nbsp;
                    <%= condition %>
                  </label>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <!-- Filter by price range -->
      <div class="sidebar-module-container">
        <div class="sidebar-widget outer-bottom-xs wow fadeInUp">
          <div class="widget-header">
            <h4 class="widget-title"><%= t"Price Range" %></h4>
          </div>
          <div class="sidebar-widget-body m-t-20">
            <div class="price-range-holder">
              <span class="min-max">
                <span class="min pull-left">$200.00</span>
                <span class="max pull-right">$800.00</span>
              </span>
              <input type="hidden" class="amount">
              <input type="text" class="price-slider" data-min="200.00" data-max="800.00" data-value="200.00, 800.00">
            </div>
            <div class="text-right">
              <a href="#" class="lnk btn btn-lime"><%= t"Show Now" %></a>
            </div>
          </div>
        </div>
      </div>
      <!-- Filter by seller rating -->
      <div class="sidebar-module-container">
        <div class="sidebar-widget outer-bottom-xs wow fadeInUp">
          <div class="widget-header">
            <h4 class="widget-title"><%= t"Seller Ratings" %></h4>
          </div>
          <div class="sidebar-widget-body m-t-20">
            <ul>
              <% [4, 3, 2, 1].each do |number| %>
                <li>
                  <% url_rating = url_for(params.merge({:rating => number.to_s + "Up"})) %>
                  <% url_no_rating = url_for(params.except(:rating)) %>
                  <label class="filter-link">
                    <div class="filter-params rateit <%= 'selected' if params[:rating] == number.to_s + "Up" %>" data-rateit-value="<%=number %>" data-rateit-ispreset="true" data-rateit-readonly="true" data-checked-url="<%= url_rating %>" data-unchecked-url="<%= url_no_rating %>"><span class="ratenup"><%= t"& Up" %></span></div>
                  </label>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <!-- Filter by Location -->
      <div class="sidebar-module-container">
        <div class="sidebar-widget outer-bottom-xs wow fadeInUp">
          <div class="widget-header">
            <h4 class="widget-title"><%= t"Item Location" %></h4>
          </div>
          <div class="sidebar-widget-body m-t-20">
            <ul>
              <li>
                <% url_no_location = url_for(params.except(:location)) %>
                <a href="<%= url_no_location %>">
                  <label>
                    <input type="checkbox" id="item_location" name="location" value="" class="checkbox-as-link" <%= 'checked' unless params[:location].present? %>/>&nbsp;&nbsp;
                    <%= t"United States" %>
                  </label>
                </a>
              </li>
              <li class="dist-or"><span><%= t"OR" %></span></li>
              <li>
                <form class="form-inline">
                  <div class="row row-dist">
                    <div class="form-group nopadding">
                      <input type="text" class="form-control input-mini" name="distance_from" value="100">
                    </div>
                    <div class="form-group nopadding">
                      <span class="dist-from"><%= t"miles from" %></span>
                      <input type="text" class="form-control input-mini" id="zip_code" placeholder="94512">
                    </div>
                  </div>
                  <div class="row-fluid text-right m-t-20">
                    <button type="submit" class="btn btn-lime"><%= t"Show Now"%></button>
                  </div>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Filter by shipping -->
      <div class="sidebar-module-container">
        <div class="sidebar-widget outer-bottom-xs wow fadeInUp">
          <div class="widget-header">
            <h4 class="widget-title"><%= t"Shipping Method" %></h4>
          </div>
          <div class="sidebar-widget-body m-t-20">
            <ul>
              <% ["Free Shipping", "Local Delivery"].each do |method| %>
                <li>
                  <% url_shipping = url_for(params.merge({:shipping => method})) %>
                  <% url_no_shipping = url_for(params.except(:shipping)) %>
                  <label>
                    <input data-checked-url="<%= url_shipping %>" data-unchecked-url="<%= url_no_shipping %>" type="checkbox" id="<%= method %>" name="shipping" value="New" class="filter-params" <%= 'checked' if params[:shipping] == method %>/>&nbsp;&nbsp;
                    <%= method %>
                  </label>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Middle panel start -->
    <div class="col-md-10 col-sm-12">
      <div class="col-md-10 col-sm-12">
        <div class="col-sm-12 col-md-12 filters-container text-right">
          <div class="col col-sm-6 col-md-10 nopadding">
            <div class="lbl-cnt">
              <span class="lbl"><%= t"Sort by" %>:</span>
              <div class="fld inline">
                <div class="dropdown dropdown-small dropdown-med dropdown-white inline">
                  <button data-toggle="dropdown" type="button" class="btn dropdown-toggle btn-sort-by">
                    <%= t"Best Match" %> <span class="caret"></span>
                  </button>
                  <ul role="menu" class="dropdown-menu">
                    <li role="presentation"><a href="#"><%= t"Best Match" %></a></li>
                    <li role="presentation"><a href="#"><%= t"Price: Lowest first" %></a></li>
                    <li role="presentation"><a href="#"><%= t"Price: Highest first" %></a></li>
                    <li role="presentation"><a href="#"><%= t"Item Location: Nearest first " %></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col col-sm-6 col-md-2 text-right gridlist">
            <div class="filter-tabs">
              <ul id="filter-tabs" class="nav nav-tabs nav-tab-box nav-tab-fa-icon">
                <li class="<%= 'active' if params[:gl] == 'grid' || params[:gl].blank? %>">
                  <a href="<%= url_for(params.merge({:gl => 'grid'})) %>"><i class="icon fa fa-th-list"></i>Grid</a>
                </li>
                <li class="<%= 'active' if params[:gl] == 'list'%>"><a href="<%= url_for(params.merge({:gl => 'list'})) %>"><i class="icon fa fa-th"></i>List</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 showroom-container">
          <% gl = params[:gl] || "grid" %> <!-- grid or list view-->
          <% if @products.present? %>
            <%= render partial: "entity.html", collection: @products, :locals => { view_mode: :showroom, gl: gl } %>
          <% else %>
            <%= t"There is no product matching your criteria!" %>
          <% end %>
        </div>
        <div class="col-sm-12 col-md-12 nopadding">
          <div class="col-sm-4 col-md-4 per-page">
            <span class="pp-text"><%= t"Per Page" %></span>
            <select class="form-control pp-select">
              <option data-url="<%= url_for(params.except(:page).merge({:per_page => 12})) %>" value="12" <%= 'selected' if params[:per_page] == '12'%>>12</option>
              <option data-url="<%= url_for(params.except(:page).merge({:per_page => 24})) %>" value="24" <%= 'selected' if params[:per_page] == '24'%>>24</option>
              <option data-url="<%= url_for(params.except(:page).merge({:per_page => 48})) %>" value="24" <%= 'selected' if params[:per_page] == '48'%>>48</option>
              <option data-url="<%= url_for(params.except(:page).merge({:per_page => 96})) %>" value="24" <%= 'selected' if params[:per_page] == '96'%>>96</option>
            </select>
          </div>
          <div class="col-sm-8 col-md-8 text-right">
            <%= paginate @products %>
          </div>
        </div>
      </div>
      <div class="col-md-2 ads-right m-t-15">
        <img src="http://www.detourdesign.com/misc/120x600banner1.jpg"/>
      </div>
    </div>
  </div>
</div>