<div class="breadcrumb breadcrumb-unstyled">
  <div class="container">
    <div class="breadcrumb-inner">
      <ul class="list-inline list-unstyled nopadding">
        <li><a href="/"><%= t"Home" %></a></li>
        <li class='active'><%= t"Sell An Item" %></li>
      </ul>
    </div>
  </div>
</div>

<div class="body-content outer-top-bd">
  <div class="container">
    <div class="col-md-9 col-sm-9 form-container">
      <%= form_for @product, url: products_path, html: {class: "form-vertical register-form outer-top-xs product-form", method: "POST", remote: true} do |f| %>
        <div class="form-group">
          <%= f.label :title, class: "info-title" do %>
            <%= t"Title" %>: <span>*</span>
          <% end %>
          <textarea class="form-control unicase-form-control text-input input-name input-styling" id="product_name" name="product[name]" placeholder="ex: Macbook Pro 25 inch" rows="2" maxlength="80" data-tooltip="This is the title of your post. You can be creative but limit it to 80 character max." data-tooltip-title="Describe Your Product" required></textarea>
          <div class="char-count pull-right"><em>0</em> / 80 max</div>
        </div>
        <div class="form-group">
          <%= f.label :short_description, class: "info-title" do %>
            <%= t"Short Description" %>: <span>*</span>
          <% end %>
          <textarea class="form-control unicase-form-control text-input input-styling" id="product_name" name="product[short_description]" placeholder="ex: USA Seller - Come with Apple Care - Fast Shipping!!" rows="2" maxlength="200" data-tooltip="This is the short description of your post. You can be creative but limit it to 80 character max." data-tooltip-title="Short Description" required></textarea>
          <div class="char-count pull-right"><em>0</em> / 200 max</div>
        </div>
        <div class="row-fluid">
          <div class="form-group col-sm-4 nopadding">
            <%= f.label :price, class: "info-title" do %>
              <%= t"Price" %>: <span>*</span>
            <% end %>
            <div class="input-group">
              <div class="input-group-addon">$</div>
              <input type="text" class="form-control unicase-form-control text-input input-styling" name="product[price]" value="" data-tooltip="Product price in USD" data-tooltip-title="Price" data-tooltip-parent=".row-fluid" required/>
            </div>
          </div>
          <div class="form-group col-sm-4">
            <%= f.label :quantity, class: "info-title" do %>
              <%= t"Quantity" %>: <span>*</span>
            <% end %>
            <input type="number" class="form-control unicase-form-control text-input input-styling" name="product[quantity]" value="" data-tooltip="Total quantity of the products listed under this post" data-tooltip-title="Quantity" data-tooltip-parent=".row-fluid" required/>
          </div>
          <div class="form-group col-sm-4">
            <%= f.label :condition, class: "info-title" do %>
              <%= t"Condition" %>: <span>*</span>
            <% end %>
            <%= f.select(:condition, options_for_select(Product.condition_select_option.map{|x| [x.first, x.last]}), {},{required: true, class: "form-control unicase-form-control text-input input-styling"}) %>
          </div>
        </div>
        <div class="form-group" data-tooltip="This is the main content of the post. Be as detailed as possible so buyers will be able to understand if this meets their needs." data-tooltip-title="Description" data-tooltip-parent=".product_description_label">
          <%= f.label :description, class: "info-title product_description_label" do %>
            <%= t"Description" %>: <span>*</span>
          <% end %>
          <textarea class="form-control unicase-form-control text-input input-styling text-editor" id="product_description" name="product[description]" rows="10"></textarea>
        </div>
        <div class="form-actions text-center">
          <button type="submit" class="btn-upper btn btn-lg btn-success"><%= t"Save & Preview" %></button>
        </div>
      <% end %>
    </div>
    <div class="col-md-3 col-sm-3">
      <div class="panel panel-default tooltip-panel">
        <div class="panel-heading">
          <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
    </div>
  </div>
</div>