<div class="breadcrumb breadcrumb-unstyled">
  <div class="container">
    <div class="breadcrumb-inner">
      <ul class="list-inline list-unstyled nopadding">
        <li><a href="/"><%= t"Home" %></a></li>
        <li><a href="<%= products_path %>"><%= t"Stores" %></a></li>
        <li class=""><%= @product.slug %></li>
        <li class="active"><%= t"Preview" %></li>
      </ul>
    </div>
  </div>
</div>

<div class="body-content">
  <div class="container">
    <%= render "detail.html", product: @product %>
    <div class="row-fluid text-center m-t-20">
      <a href="<%= edit_product_path(@product) %>" class="btn-upper btn btn-lg btn-default"><%= t"Edit" %></a>
      <a href="javascript:;" data-url="<%= set_publishable_product_path(@product) %>" class="btn-upper btn btn-lg btn-success btn-publishable"><%= t"Save" %></a> 
    </div>
  </div>
</div>