<div class="breadcrumb breadcrumb-unstyled">
  <div class="container">
    <div class="breadcrumb-inner">
      <ul class="list-inline list-unstyled nopadding">
        <li><a href="/"><%= t"Home" %></a></li>
        <li><a href="<%= products_path %>"><%= t"Stores" %></a></li>
        <li class=""><%= @product.slug %></li>
        <li class="active"><%= t"Preview" %></li>
      </ul>
    </div>
  </div>
</div>

<div class="body-content">
  <div class="container">
    <div class="row-fluid preview-header">
      <h2 class="inline nomargin"><%= t"Preview" %></h2>
      <div class="cust_inline">
        <a href="<%= edit_product_path(@product) %>"><%= t"Edit" %></a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;
        <a href="javascript:;" data-url="<%= set_publishable_product_path(@product) %>" class="btn-publishable"><%= t"Save" %></a>
      </div> 
    </div>
    <%= render "detail.html", product: @product %>
  </div>
  <div class="row-fluid text-center m-t-b-20">
    <a href="<%= edit_product_path(@product) %>" class="btn-upper btn btn-lg btn-default"><%= t"Edit" %></a>
    <a href="javascript:;" data-url="<%= set_publishable_product_path(@product) %>" class="btn-upper btn btn-lg btn-success btn-publishable"><%= t"Save" %></a> 
  </div>
</div>